<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <label> @ViewBag.ctr </label>
    <br />
    <a href="/Counter/NewCounter">
        <input type="button" name="click" value="Click me" />
    </a>

</body>
</html>
